// Big Button
.big-button {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: $l-size;
  transition: 0.3s all ease-in-out;
  box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.4);
  border-bottom: $m-size solid darken($purple, 5%);

  &:hover {
    transform: translateY(-0.6rem);
    box-shadow: 7px 13px 16px rgba(0, 0, 0, 0.35);
  }

  &:active {
    transform: translateY(0.6rem);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    opacity: 0.5;
    background-color: lighten($purple, 5%);
    box-shadow: none;
    border: none;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

// Button
.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
  
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}